.header-container {
  margin-top: 100px;
  position: relative;
}

.header-container:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #e8effa;
  z-index: 1;
}

.header-container h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: relative;
}

.header-container img {
  width: 310px;
}

.header-container span {
  margin-top: 20px;
  font-size: 29px;
}

.hero-collections {
  margin: 80px 0 100px;
}

.hero-collections__card-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-collections__card {
  position: relative;
  border: 3px solid black;
  border-radius: 7px;
  background-color: #e8effa;
  margin: 40px auto;
  background-size: cover;
  height: 240px;
  width: 310px;
}

.hero-collections__card-title {
  font-size: 31px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 1;
  transition: opacity 0.3s;
  color: #fff;
}

.hero-collections__card:hover > .hero-collections__card-title,
.hero-collections__card:hover > .hero-collections__card--bg {
  opacity: 0;
  transition: none;
}

.hero-collections__card--bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s;
}

.hero-collections__card--hover {
  background-repeat: no-repeat;
  background-size: 60%;
  background-image: var(--background-image-hover);
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: none;
}

.hero-collections__card:hover > .hero-collections__card--hover {
  opacity: 1;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  .hero-collections__card {
    height: 200px;
    width: 240px;
  }

  .hero-collections__card-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .hero-collections__card {
    height: 230px;
    width: 290px;
  }
  .hero-collections__card-container {
    width: 970px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero-collections__card {
    height: 270px;
    width: 330px;
  }
  .hero-collections__card-container {
    width: 1050px;
  }
}
